body {
  background-color: #e0ffff;
}
.heroes {
  width: 60vw;

  margin: 0 auto;
  background-color: #5f9ea0;
}
.img-top {
  width: 60vw;
  height: 25vh;
}
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image {
  height: 30vh;
  width: 15vw;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
